@import "./styleHlp/variables.scss";
@import "./module-styles/popup.module.scss";
* {
  font-family: $text-fam;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 150px;
}
body {
  background-color: $primary-background;
  color: $text;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

h1 {
  font-family: $title-fam;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 150px;
  // background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  ///temporary fix, fix this right way
  position: fixed;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: $primary-background;
}

li {
  list-style: none;
}

main {
  width: 100%;
  height: calc(100% - 150px);
  position: relative;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

aside {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 250px;
  width: 350px;
  background-color: $secondary;
  border-radius: 20px 0px 0px 0px;
  display: grid;
  place-items: center;
  border-top: 2px solid $border-fill;
  border-left: 2px solid $border-fill;
}

::-webkit-scrollbar {
  width: 0px;
}

footer {
  width: 100%;
  height: 425px;
  border-radius: 20px 20px 0px 0px;
  background-color: #334756;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Link
a {
  all: unset;
}
