@import "./styleHlp/variables.scss";
@import "./module-styles/popup.module.scss";
* {
  font-family: $text-fam;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 150px;
}
body {
  background-color: $primary-background;
  color: $text;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

h1 {
  font-family: $title-fam;
}

nav {
  width: 100%;
  height: 150px;
  // background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  //this trick doesn't work here because I need to center the navbar
  background-color: white;
  position: fixed;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  background-color: $primary-background;
  z-index: $nav-z-indx;

  h1 {
    position: absolute;
    left: 50px;
    top: 35px;
    font-size: 50px;
    cursor: pointer;
    // margin-right: auto ; //I set flex to center so no trick sadly
  }
  .signOut {
    position: absolute;
    right: 50px;
    top: 35px;

    width: 90px;
    height: 90px;
    fill: $whitesmoke;
    cursor: pointer;
    &:hover path {
      stroke: $orange;
    }
    path {
      stroke: $whitesmoke;
      transition: stroke 250ms linear;
    }
  }
}

li {
  list-style: none;
}

main {
  width: 100%;
  height: calc(100% - 150px);
  position: relative;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

aside {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 250px;
  width: 350px;
  background-color: $secondary;
  border-radius: 20px 0px 0px 0px;
  display: grid;
  place-items: center;
  border-top: 2px solid $border-fill;
  border-left: 2px solid $border-fill;
}

::-webkit-scrollbar {
  width: 0px;
}

footer {
  width: 100%;
  height: 425px;
  border-radius: 20px 20px 0px 0px;
  background-color: #334756;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Link
a {
  all: unset;
}
