@import "./variables.scss";
@mixin button-default {
  width: 120px;
  height: 60px;
  border-radius: 10px;
  color: $text;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    //Make more advanced hover effect
    background-color: rgb(50, 155, 145);
    transition: all 200ms linear;
  }
}

@mixin article-eff {
  &:hover:after {
    content: "Click to see more details 🔗";
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  &:hover {
    background-color: rgb(50, 155, 145);
    cursor: pointer;
  }
}

@mixin hr {
  background-color: black;
  height: 4px;
  border-radius: 2px;
  width: 325px;
}
