@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

$primary-background: #082032;
$secondary: #2c394b;
$placeholder: #61707b;
$text: #fff;
$border-fill: #d9d9d9;
$orange: #ff4c29;
$hover-color: rgba(86, 85, 85, 0.7);
$whitesmoke: rgb(245, 245, 245);
$light-blue: #3f72af;

$title-fam: "Pacifico", cursive;
$text-fam: "Roboto Mono", monospace;
$title-sec: "Caveat", cursive;

$nav-z-indx: 50;
