@import "../styleHlp/mixins.scss";
@import "../styleHlp/variables.scss";
.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $light-blue;
  z-index: 99999;
}
.cartContainer {
  width: 500px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: whitesmoke;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary;
  transform: translateX(500px);
  transition: transform 500ms linear;
  * {
    font-family: $title-sec;
    // font-size: ;
  }
  h1 {
    font-size: 40px;
    font-family: $title-fam;
  }
  header {
    height: 300px;
    width: 300px;
    // border: 2px solid $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $secondary;
      object-fit: contain;
    }
    hr {
      @include hr;
    }
  }

  .favContainer {
    width: 400px;
    // margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .gBtn {
      margin-top: -15px;
      width: 250px;
      height: 60px;
      border-radius: 8px;
      font-size: 20px;
      background-color: $whitesmoke;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 35px;
      svg {
        height: 30px;
        width: 30px;
      }
    }
    .favBlock {
      width: 325px;
      height: 340px;
      border-radius: 8px;
      background-color: $whitesmoke;
      border: 2px solid $secondary;
      margin-top: 20px;
      overflow-y: scroll;
    }

    hr {
      @include hr;
      margin-top: 30px;
      width: 400px;
      height: 3px;
    }
  }
  .buy {
    // margin-top: 20px;
    width: 350px;
    height: 75px;
    background-color: $whitesmoke;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 40px;
    &:hover {
      cursor: pointer;
      border: none;
      color: $whitesmoke;
      background-color: $light-blue;
      transition: all 250ms linear;
    }
  }
}

.marginTop {
  margin-top: 40px;
}

.hide {
  display: none;
}
.showContainer {
  transform: translateX(0px);
}
.hideContainer {
  transform: translateX(500px);
}

//////
.prodItem {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid $secondary;
  display: flex;
  align-items: center;
  gap: 8px;

  // cursor: pointer;
  * {
    font-family: $text-fam;
    z-index: 2;
  }
  h3 {
    font-size: 22px;
    span {
      font-size: 15px;
    }
    &:nth-of-type(1) {
      min-width: 80px;
    }
    &:nth-of-type(2) {
      color: #008000;
      width: 80px;
      text-align: center;
    }
  }
  img {
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    background-color: $text;
    object-fit: contain;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    h2 {
      font-size: 25px;
    }
    .count {
      width: 25px;
      height: 25px;
      border: 2px;
      background-color: $secondary;
      color: $text;
      border-radius: 5px;
      font-size: 25px;
      text-align: center;
      line-height: 25px;
    }
  }
}
