@import "../styleHlp/mixins.scss";
@import "../styleHlp/variables.scss";
.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $item-color;
  z-index: 1;
}
.close {
  all: unset;
  display: none;
  position: fixed;
  z-index: 9999;
}
.cartContainer {
  padding-bottom: 20px;
  width: 500px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: $text;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary;
  transform: translateX(500px);
  transition: transform 500ms linear;
  border-radius: 20px 0px 0px 20px;
  * {
    font-family: $title-sec;
    // font-size: ;
  }
  h1 {
    font-size: 40px;
    font-family: $title-fam;
  }
  header {
    height: 300px;
    width: 300px;
    // border: 2px solid $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $secondary;
      object-fit: contain;
    }
    hr {
      @include hr;
    }
  }

  .favContainer {
    width: 400px;
    // margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .gBtn {
      margin-top: -15px;
      width: 250px;
      height: 60px;
      border-radius: 8px;
      font-size: 20px;
      background-color: $text;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 35px;
      svg {
        height: 30px;
        width: 30px;
      }
    }
    .favBlock {
      width: 325px;
      height: 340px;
      border-radius: 8px;
      background-color: $text;
      border: 2px solid $secondary;
      margin-top: 20px;
      overflow-y: scroll;
    }

    hr {
      @include hr;
      margin-top: 30px;
      width: 400px;
      height: 3px;
    }
  }
  .buy {
    // margin-top: 20px;
    width: 350px;
    height: 75px;
    background-color: $text;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 40px;
    &:hover {
      cursor: pointer;
      border: none;
      color: $text;
      background-color: $light-blue;
      transition: all 250ms linear;
    }
  }
}

.marginTop {
  margin-top: 40px;
}

.hide {
  display: none;
}
.showContainer {
  transform: translateX(0px);
}
.hideContainer {
  transform: translateX(500px);
}

//////
.prodItem {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid $secondary;
  display: flex;
  align-items: center;
  gap: 8px;

  // cursor: pointer;
  * {
    font-family: $text-fam;
    z-index: 4;
  }
  h3 {
    font-size: 22px;
    span {
      font-size: 15px;
    }
    &:nth-of-type(1) {
      min-width: 80px;
    }
    &:nth-of-type(2) {
      color: #008000;
      width: 80px;
      text-align: center;
    }
  }
  img {
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    background-color: $text;
    object-fit: contain;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    h2 {
      font-size: 25px;
    }
    .count {
      width: 25px;
      height: 25px;
      border: 2px;
      background-color: $secondary;
      color: $text;
      border-radius: 5px;
      font-size: 25px;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
    }
  }
}

@media only screen and (min-height: 600px) and (max-height: 800px) and (min-width: 1000px) {
  .cartContainer {
    zoom: 0.6;
  }
}
@media only screen and (min-height: 700px) and (max-height: 800px) and (min-width: 1000px) {
  .cartContainer {
    zoom: 0.7;
  }
}
@media only screen and (min-height: 800px) and (max-height: 925px) and (min-width: 1000px) {
  .cartContainer {
    zoom: 0.8;
  }
}
@media only screen and (min-height: 925px) and (max-height: 1050px) and (min-width: 1000px) {
  .cartContainer {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .background {
    display: none;
  }
  .close {
    display: block;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: $orange;
    border-radius: 10px;
    fill: $text;
  }

  .cartContainer {
    width: 100% !important;
    height: 100%;
    border-radius: 0px;
    overflow-y: scroll;

    justify-content: flex-start;

    header {
      margin-top: 20px;
      h1 {
        font-size: 30px;
      }
      img {
        width: 100px !important;
        height: 100px !important;
      }
    }
    .marginTop {
      margin-top: 0px;
    }
    .gBtn {
      width: 200px !important;
      height: 50px !important;
      margin-top: 10px !important;
    }
    .favContainer {
      margin-top: 10px;
      hr {
        margin-top: 10px;
        width: 100%;
      }
      .favBlock {
        height: 250px;
      }
    }
    .buy {
      width: 300px;
    }
  }
}
