@import "../styleHlp/variables.scss";
@import "../styleHlp/mixins.scss";
.position {
  margin-top: 150px;
  width: 800px;
  display: flex;
  flex-direction: column;
  section {
    height: fit-content;
    width: 820px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    h2 {
      font-family: $title-fam;
      font-size: 35px;
    }
    img {
      object-fit: contain;
      width: 100%; //I think I could have used to span two columns, but I didn't want to complicate
      height: 350px;
      background-color: $secondary;
      border-radius: 10px;
      background-color: $text;
      position: relative;
    }
    .itemContainer {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
      border-radius: 0 0 8px 8px;

      h3 {
        font-weight: 550;
        font-size: 20px;
        display: flex;
      }
    }
  }

  .section {
    font-size: 35px;
    font-family: $title-fam;
  }
  .row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;

    justify-content: space-between;
    gap: 20px;

    article {
      width: 400px;
      height: 530px;
      border-radius: 10px;
      transition: background-color 250ms ease-in-out;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $item-color;
      img {
        object-fit: contain;
        width: 100%;
        height: 400px;
        border-radius: 10px;
        background-color: $text;
      }
      h3 {
        all: unset;
        font-size: 20px;
        margin-left: 5px;
      }
      h3:first-of-type {
        margin-top: 10px;
      }
      @include article-eff;
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .position {
    width: 85%;
    margin-top: 100px;
    section {
      width: 100%;
      h2 {
        font-size: 30px;
      }

      h3 span,
      h3 {
        font-size: 20px;
      }
    }
    .row {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      width: 85%;
      gap: 20px;
      width: 100%;
      // position: relative;
      article {
        align-self: center;
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        h2 {
          font-size: 30px;
        }
        h3,
        h3 span {
          font-size: 15px;
        }
        &:hover {
          pointer-events: none;
          background-color: $item-color;
          &::after {
            display: none;
          }
          &::before {
            display: none;
          }
        }
        img {
          height: 300px;
        }
      }
    }
  }
}
