@import "../styleHlp/variables.scss";
@import "../styleHlp/mixins.scss";
.position {
  margin-top: 150px;
  width: 800px;
  display: flex;
  flex-direction: column;
  section {
    height: fit-content;
    width: 800px;
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $title-fam;
      font-size: 35px;
    }
    img {
      object-fit: contain;
      margin-top: 10px;
      width: 100%; //I think I could have used to span two columns, but I didn't want to complicate
      height: 350px;
      background-color: $secondary;
      border-radius: 10px;
      background-color: $text;
    }
    h3:first-of-type {
      margin-top: 12px !important;
    }
    h3 {
      all: unset;
      font-size: 20px;
      margin-left: 5px;
      margin-top: 2px;
    }
  }

  .section {
    margin-top: 20px;
    font-size: 35px;
    font-family: $title-fam;
  }
  .row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 600px 600px;
    justify-content: space-between;

    article {
      width: 380px;
      height: 550px;
      border-radius: 10px;
      transition: background-color 250ms ease-in-out;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $hover-color;
      img {
        object-fit: contain;
        width: 380px;
        height: 400px;
        border-radius: 10px;
        background-color: $secondary;
        background-color: $text;
      }
      h3 {
        all: unset;
        font-size: 20px;
        margin-left: 5px;
      }
      h3:first-of-type {
        margin-top: 10px;
      }
      @include article-eff;
    }
  }
}
