@import "../styleHlp/variables.scss";
@import "../styleHlp/mixins.scss";
.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  // z-index: 2;
  //   border: 2px solid #fff;

  input {
    width: 230px;
    height: 58px;
    border-radius: 50px;
    background-color: $secondary;
    color: $border-fill;
    border: 0px solid transparent;

    text-indent: 50px;
    //fix him up later

    &::placeholder {
      font-size: 13px;
    }
    &:focus {
      outline: 2px solid $orange;
    }
  }
  svg {
    font-size: 25px;
    fill: $placeholder;
    position: absolute;
    margin-top: 17px;
    margin-left: 18px;
    //   display: block;
    //   margin: auto;
  }

  a {
    font-size: 25px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      bottom: 0px;
      left: 0px;
      width: 0px;
      height: 3px;
      background-color: $orange;
      position: absolute;
      transition: width 250ms linear;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.btnOne {
  @include button-default;
  // background-color: $secondary;
  background-color: transparent;
  border: 2px solid $border-fill;
  &:hover {
    z-index: 3;
  }
}
.btnTwo {
  @include button-default;
  border: 2px solid $orange;
  background-color: transparent;
  margin-left: -20px;

  h1 {
    font-size: 50px;
    cursor: pointer;
  }
  svg {
    width: 90px;
    height: 90px;
    fill: $whitesmoke;
    cursor: pointer;
    &:hover path {
      stroke: $orange;
    }
    path {
      stroke: $whitesmoke;
      transition: stroke 250ms linear;
    }
  }
}

.green {
  // background-color: darkgreen;
  background-color: $light-blue;
  z-index: 5;
}

.humburger {
  display: none;
  position: absolute;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .humburger {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
  }
  .titleContainer {
    display: none;
    position: absolute;
  }
  .ul {
    width: calc(100% - 100px);
    display: grid;
    place-content: center;
    li > a,
    button {
      display: none;
    }
    input {
      height: 50px;
      width: 200px;
      text-indent: 45px;
      &::placeholder {
        font-size: 10px;
      }
    }
    svg {
      width: 20px;
      margin-top: 2px;
    }
  }
}
