@import "../styleHlp/variables.scss";
@import "../styleHlp/mixins.scss";
.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  //   border: 2px solid #fff;

  input {
    width: 215px;
    height: 58px;
    border-radius: 50px;
    background-color: $secondary;
    color: $border-fill;
    border: 0px solid transparent;

    text-indent: 50px;
    //fix him up later

    &::placeholder {
      font-size: 13px;
    }
    &:focus {
      outline: none;
    }
  }
  svg {
    fill: $placeholder;
    position: absolute;
    margin-top: 15px;
    margin-left: 18px;
    //   display: block;
    //   margin: auto;
  }

  a {
    font-size: 25px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      bottom: 0px;
      left: 0px;
      width: 0px;
      height: 3px;
      background-color: $orange;
      position: absolute;
      transition: width 250ms linear;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.btnOne {
  @include button-default;
  // background-color: $secondary;
  background-color: transparent;
  border: 2px solid $border-fill;
  &:hover {
    z-index: 999;
  }
}
.btnTwo {
  @include button-default;
  border: 2px solid $orange;
  background-color: transparent;
  margin-left: -20px;
}

.mainElements {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  z-index: $nav-z-indx;
  h1 {
    font-size: 50px;
    cursor: pointer;
  }
  svg {
    width: 90px;
    height: 90px;
    fill: $whitesmoke;
    cursor: pointer;
    &:hover path {
      stroke: $orange;
    }
    path {
      stroke: $whitesmoke;
      transition: stroke 250ms linear;
    }
  }
}
