@import "../styleHlp/mixins.scss";
@import "../styleHlp/variables.scss";

.container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .title {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }

  .btnContainer {
    width: 280px;
    display: flex;
    justify-content: space-around;

    .btn1 {
      @include button-default;
      @include action-buttton;
      background-color: $text;
      color: $primary-background;
      border: none;
      font-size: 17px;
    }
    .btn2 {
      @include button-default;
      @include action-buttton; //this is so poorly made
      background-color: $orange;
      color: $text;
      border: none;
      font-size: 17px;
      &:hover {
        color: $text;
      }
    }
  }
}

.hide {
  border: none;
  transform: translateX(400px);
}
.show {
  border: none;
  animation: popup 1s linear;
  transform: translateX(0px);
}
@keyframes popup {
  0% {
    transform: translateX(400px);
  }
  70% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
}
